/* 基本設置 */

/* RWD img css 可當作css reset 其中一個 */
img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

/* 全域 border box  */
*,::before,::after{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.og{
    background-color: orange;
    height: 100px;
    display: block;
}
/* 共用區 */
.container{
    /* 桌機 */
    max-width: 1320px;
    margin: 0 auto;
    padding:0 12px;

    /* 平板 */
    @media(max-width: 768px){
        max-width: 720px;
        /* 696+24gutter */
    }

    /* 手機 */
    @media (max-width:375px) {
        max-width: 372px;
        /* 348+24gutter */
    }
}

/* 抵銷col多的左右 */
.row{
    margin-left: -12px;
    margin-right: -12px;
    display: flex;
}
/* .col-1{
    width: calc(100%/12);
}
.col-2{
    width: calc(100%/6);
} */
/* 3 欄 */
.col-3{
    width: calc(100%/4);
}
/* 4 欄  */
.col-4{
    width: calc(100%/3);
}
/* .col-5{
    width: calc(100%/12*5);
} */
/* 6 欄  */
.col-6{
    width: calc(100%/2);
}
/* .col-7{
    width: calc(100%/12*7);
}
.col-8{
    width: calc(100%/3*2);
}
.col-9{
    width: calc(100%/12*9);
}
.col-10{
    width: calc(100%/12*10);
}
.col-11{
    width: calc(100%/12*11);
}
.col-12{
    width: 100%;
} */
.mx-12{
    margin: 0 12px;
}


.ma{
    margin: 0 auto;
}
.row_jcsb{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}
.item_center{
    display: flex;
    align-items: center;
}
.row_center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
}
.row_start{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.row_end{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.list_start{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.list_end{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3, h4, h5, h6,p, a, span{
    line-height: 1.5;
    font-family: 'Noto Sans TC', sans-serif;
}
h1, h2, h3, h4{
    color: #AA0601;
}
.roboto{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 64px;
    font-weight: 700;
}
h2{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}
h3{
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}
h4{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}
h5{
    font-size: 20px;
}
p{
    font-size: 16px;
    font-weight: 400;
}
.text_center{
    text-align: center;
}
.vertical_middle{
    vertical-align: middle;
}
.text_white{
    color: #fff;
}
.bg_lightred{
    background-color: #fbf2f2;
}
.bg_red{
    background-color: #AA0601;
    /* height: 80px; */
}
/* ///////////nav////////////// */
.nav-wrap{
    display: flex;
    justify-content: space-between;

    @media (max-width:768px) {
        flex-direction: column;
        /* 移除左右 padding 再加入 max-width: 100%; 讓導覽列能變為滿版 */
        padding-left: 0;
        padding-right: 0;
        max-width: 100%;
        
    }
}
.logo{
    width: 80px;
    height: 72px;
}
.ptb-25{
    padding: 25px 0;
}
.pl-64{
    padding-left: 64px;
}
.navbar{
    font-size: 20px;
}
/* ///////////////header///////////////////////////// */
.bg_pic1{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true);
    background-size: cover;
    max-height: 787px;
}
.ptb-296{
    padding: 296px 0;
}

.text_1{
    font-size: 36px;
}
.button_1{
    background-color: #AA0601;
    padding: 6px 12px;
    font-size: 20px;
}
.pb-4{
    padding-bottom: 4px;
}
/* //////////////section1//////////////////// */
.ptb-80{
    padding: 80px 0;
}
.pb-24{
    padding-bottom: 24px;
}
.w-25{
    width:calc((100% - 72px)/4);
}
.icon_1{
    width: 100px;
}
.pb-16{
    padding-bottom: 16px;
}
.pb-8{
    padding-bottom: 8px;
}

/* ////////////////section2///////////////////////// */
.w-33{
    width: calc((100% - 48px)/3);
}
.pb-48{
    padding-bottom: 48px;
}
/* ////////////////section3///////////////////////// */
.bg_pic2{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true);
    /* opacity: 1; */
    background-size: cover;
    max-height: 787px;
}
.bg_white{
    background-color: #fff;
    padding: 8px 201px;
}
/* ////////////////section4///////////////////////// */
.card{
    background: #ffffff;
    border: #dee2ed 1px solid;
    border-radius: 4px;
    box-shadow: 0px 2px 6px #00000029;
}
.card_text{
    padding: 16px;
}
.fw500{
    font-weight: 500;
}
.pb-72{
    padding-bottom: 72px;
}
.text_gray{
    color: #707070;
}
/* ////////////////section5///////////////////////// */
.container_6{
    width: calc((1296px / 2) - 12px);
    margin: 0 auto;
    /* padding: 12px; */
}
.block{
    display: block;
}
.mb-8{
    margin-bottom: 8px;
}
.mb-16{
    margin-bottom: 16px;
}
.w100{
    width: 100%;
    height: 36px;
    /* vertical-align: middle; */
}
.button_2{
    background-color: #AA0601;
    padding: 16px 0;
    font-size: 20px;
    display: block;
    margin-top: 48px;
    min-width: 416px;
    text-align: center;
}
/* //////////////////footer///////////////  */
.mr-48{
    margin-right: 48px;
}
.icon_social{
    width: 48px;
}
.ml-32{
    margin-left: 32px;
}
.pt-48{
    padding-top: 48px;
}

.icon_footer{
    /* width: 48px; */
    font-size: 48px;
    padding: 4px;
}
.mr-16{
    margin-right: 16px;
}

.ml-48{
    margin-left: 48px;
}
.m-32{
    margin: 32px 0;
    display: block;
}
.pb-32{
    padding-bottom: 32px;
}